/* General Container */
.featured-listings {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 50px); /* Adjusted height here */
}

/* Featured Listings Header */
.featured-listings-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.featured-listings-spacinng {
  width: 100%;
}

.filter-sort-container {
  width: 100%;
}

mat-card-title {
  display: flex;
  align-items: center;
  gap: 16px;
}

/* Listings Grid */
mat-grid-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-height: 80vh; /* Adjust the height according to your layout */
  overflow-y: auto;
}

.listing-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-height: 400px;
  min-width: 300px; /* New */
  transition: transform 0.3s; /* Added transition for hover effect */
  cursor: pointer; /* Change cursor to hand pointer on hover */
}

/* Card Header */
.seller-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Image Container */
.image-container {
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

/* Image */
.listing-image {
  max-width: 100%;
  max-height: 400px;
  object-fit: cover;
}

/* Listing Info */
.listing-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* New */
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  overflow: auto; /* New */
}

.listing-details span {
  display: flex;
  justify-content: center; /* New */
  align-items: center; /* New */
  white-space: nowrap;
  min-width: 0; /* New */
}

.listing-details mat-icon {
  margin-right: 0.5rem;
  align-self: center; /* New */
  min-width: 24px; /* New */
}
/* User Interactions */
.mat-card-actions {
  display: flex;
  justify-content: space-between;
}

mat-card {
  width: 65vw;
}

/* Social Proof */
.ratings,
.reviews {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

/* Pagination */
mat-paginator {
  margin-top: 1rem;
}

/* Responsive */
@media (max-width: 768px) {
  .listing-card {
    flex-direction: column;
  }
}

.mat-mdc-card-subtitle {
  display: flex;
  align-items: center;

  gap: 1rem;
  width: 100%;
}

.mat-mdc-button > .mat-icon {
  width: 24px !important;
}

.left-side.closed,
.right-side.closed {
  width: 0px;
  opacity: 0;
  visibility: hidden;
  transition: width 300ms ease-in-out, opacity 300ms ease-in-out,
    visibility 300ms ease-in-out;
}

/* Hover Effect */
.listing-card:hover {
  transform: scale(1.05); /* Grow the card by 5% when hovered */
}
.filter-sort-container {
  display: flex;
  align-items: center;
  gap: 16px; /* Adjust the space between elements */
}

.burger-icon {
  margin-right: 16px; /* Add some spacing to the right of the burger icon */
}

.sort-field {
  margin-right: 16px; /* Add some spacing to the right of the sort field */
}
