<main class="mat-app-background">
  <!-- User Activity Metrics -->
  <app-user-info></app-user-info>
  <!-- Earnings Overview -->
  <app-earnings-overview></app-earnings-overview>
  <!-- History Timeline -->
  <!-- History Timeline -->
  <app-history-timeline></app-history-timeline>
  <!-- Heatmap Section -->
  <app-heatmap-section></app-heatmap-section>

  <!-- Reviews Section -->
  <app-reviews-section></app-reviews-section>

  <!--
  <section id="achievement-showcase">
    <h2 class="section-title">Achievement Showcase</h2>
    <mat-card class="achievement-widget">
      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </section> -->
</main>
